apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "02-backend-spring-boot-rest-api.fullname" . }}-config
data:
{{- range $key, $value := .Values.config }}
  {{ $key }}: "{{ $value }}"
{{- end }}
